@import "bootstrap/scss/mixins";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$color-primary-500: #090D30;
$color-primary-600: #090D30;
$color-primary-700: #090D30;
$color-primary-800: #090D30;
$color-primary-900: #090D30;

$color-accent-50: #f0edff;
$color-accent-100: #e0dcff;
$color-accent-200: #c2b8ff;
$color-accent-300: #a395ff;
$color-accent-400: #8571ff;
$color-accent-500: #664EFF;
$color-accent-600: #523ecc;
$color-accent-700: #3d2f99;
$color-accent-800: #291f66;
$color-accent-900: #141033;

$color-boarding-flow: #664EFF;
$color-delivery-flow: #F7931A;
$color-safety-flow: #FF6D5E;
$color-space-flow: #52BD94;
$color-process-flow: #467FFF;